.bg-color{
    font-style: #701e7d;
    color: #701e7d;
}
.bg-color-2{
    background-color: #701e7d;
}
.font-c{
    color: #ffd400;
}
#button:hover{
    background-color: #ffd400;
    color: #ffff;
    cursor: pointer;

}